<!-- Begin Partners Section -->
<section id="partners" class="partners">
    <div class="content-wrapper">

        <div class="col-lg-10 col-lg-offset-1">
            
            <h3>{{ site.partnersTitle }}</h3>
            {% if site.c4sponsorsUrl %}
            <a href="{{ site.c4sponsorsUrl | prepend: site.baseurl }}" class="btn btn-primary waves-effect waves-button waves-light waves-float">{{ site.partnersC4sponsorsButton }}</a>
            {% endif %}
            {% for partner in site.data.partners %}
            <h5>{{ partner.group }}</h5>
            <ul class="list-inline">
                {% for element in partner.elements %}
                <li {% if element.width != null %}style="width: {{ element.width }};"{% endif %}>  
                    {% if element.imageUrl  %}<a href="{{ element.link }}" {% if element.name == "Your logo here" %} target="" {% endif %}  target="_blank">
                        <img src="{{ site.baseurl }}/img/partners/{{ element.imageUrl }}" title="{{ element.description }}" alt="{{ element.name }}">
                        
                    </a>
                    {% endif %}
                    {{ element.name }}
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
    </div> 
</section>
<!-- End Partners Section -->
